{% extends 'base.html.twig' %}

{% block body %}

    <div class="alert alert-info" ><b>changer le lien du serveur dans <i>templates/home/index.twig</i> pour pointer sur le server symfony</b></div>

    <h1>Inscription des membres</h1>

    <hr/>

    <form @submit="checkForm" >
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="Nom">Nom</label>
                    <input type="text" required class="form-control" id="Nom" v-model="nom" name="nom">
                </div>
                <div class="form-group">
                    <label for="Prenom">Prenom</label>
                    <input type="text" required class="form-control" id="Prenom" v-model="prenom" name="prenom">
                </div>
                <div class="form-group">
                    <label for="date_de_naissance">Date de naissance</label>
                    <input type="text" required class="form-control datetimepicker-input" @blur="closeDateTimePicker($event)" id="date_de_naissance" data-toggle="datetimepicker" v-model="date_de_naissance" data-target="#date_de_naissance"/>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="Telephone">Telephone</label>
                    <input type="text" required class="form-control" id="Telephone" v-model="telephone" name="telephone" pattern="[0]{1}[5,6,7]{1} [0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}" title="telephone marocain 05/06/07 xx xx xx xx">
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group form-check mb-0">
                            <input type="radio" required class="form-check-input" id="Home" value="H" v-model="sexe" name="sexe">
                            <label class="form-check-label" for="Home">Home</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group form-check mb-0">
                            <input type="radio" required class="form-check-input" id="femme" value="F" v-model="sexe" name="sexe">
                            <label class="form-check-label" for="femme">Femme</label>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col">
                        <div class="form-group form-check">
                            <input type="radio" checked class="form-check-input" id="Marocain" value="M" v-model="pays" name="pays">
                            <label class="form-check-label" for="Marocain">Marocain</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group form-check">
                            <input type="radio" class="form-check-input" id="Etranger" value="E" v-model="pays" name="pays">
                            <label class="form-check-label" for="Etranger">Etranger</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" v-on:click="SaveMember($event)" >Submit</button>

        <div class="alert alert-success mt-5" v-if="serverResponse!=''" ><b v-text="serverResponse"></b></div>
        <div class="alert alert-danger mt-5" v-if="alertError!=''" ><b v-text="alertError"></b></div>
    
    </form>

    <hr/>

    <form class="mt-5"  @submit="checkForm"  >

        <input type="file" required class="" id="membersfile">

        <button type="submit" class="btn btn-primary" v-on:click="saveFileOfMembers($event)" >Submit excel file</button>

        
        <a type="submit" class="btn btn-info" href="{{ asset('uploads/excel-template.xlsx') }}" >template du ficher Excel</a>

    </form>



{% endblock %}

{% block javascripts %}

<script>

        $(function () {
            $('#date_de_naissance').datetimepicker({
                format:"DD/MM/YYYY"
            });
        });


    var app = new Vue({
        el: '#app',
        data: {
            nom:"",
            prenom:"",
            date_de_naissance:"",
            telephone:"",
            sexe:"H",
            pays:"M",
            alertError:"",
            serverResponse:""
        },
        mounted() {
            
        },
        methods: {
            closeDateTimePicker: function (event) {
                $('#date_de_naissance')[0].dispatchEvent(new CustomEvent('input'));
            },
            checkForm: function (e) {
                // prevent form submition axios will do it
                // we can add more validation here 
                // e has access to all inputs of the form
                
                e.preventDefault();
            },
            SaveMember: function(event) {
                
                // Send a POST request
                axios({
                    method: 'post',
                    url: 'http://127.0.0.1:8000/new/member',
                    data: this.$data
                })
                .then(response => {
                    this.$data.alertError="";
                    console.log(response);
                    this.$data.serverResponse = "member bien ajouter avec id " + response.data.id
                })
                .catch(error => {
                    
                    if (error.response.status == 400) {
                        this.$data.serverResponse = "";
                        this.$data.alertError=error.response.data.error
                    }
                    if (error.response.status == 422) {
                        errors = ""
                        for (const [key, value] of Object.entries(error.response.data.error)) {
                            errors += ` ${key}: ${value}, `;
                        }
                        this.$data.alertError=errors
                    }

                });
                
            },
            saveFileOfMembers: function (e) {
                
                var formData = new FormData();
                var imagefile = document.querySelector('#membersfile');
                formData.append("membersfile", imagefile.files[0]);
                axios.post('http://127.0.0.1:8000/new/members-file', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(response => {
                    
                    this.$data.alertError="";
                    console.log(response);
                    this.$data.serverResponse = "member bien ajouter avec les id " + JSON.stringify(response.data)
                })
                .catch(error => {
                    if (error.response.status == 400) {
                        this.$data.serverResponse = "";
                        this.$data.alertError=error.response.data.error
                    }
                });
            }
        }
    })
</script>

{% endblock %}